body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logoprincipal {
    width: 20%;
    border-radius: 20%;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.productlist {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 40px 0;
    background: #ffffff;
}

.git {
    text-decoration: none;
}

.social-footer {
    padding: 1rem;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.instagram {
    height: 40px;
    width: 40px;
}

.facebook {
    height: 40px;
    width: 40px;
}

.copyright {
    color: #5d7e71;
    font-size: 13px;
    margin: 20px 0;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

/*css da página inicial */

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal:first-letter{
    font-weight: bold;
}

.principal {
    padding: 3em 0;
    background-color: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    align-items: center;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 300px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
} 

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "✓";
}

.imagem-beneficios {
    width: 60%;
}

.mapa p {
    margin: 0 0 2em 0;
    text-align: center;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}